#agent{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
    grid-gap: 10px 0px;
    padding: 10px 10px;
}

.eachAgent-dataBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    margin: 20px;
}

ul {
    list-style-type: none;
}